<div class="calendar__container">
  <div class="calendar__header">
    <span class="calendar__heading">My Progress</span>
    <app-dropdown 
      [selectedItem]="selectedMonth" 
      [items]="months"
      (itemSelected)="onMonthChange($event)"
    ></app-dropdown>
  </div>
  
  <div class="calendar-grid">
    @for (day of weekDays; track $index) {
      <div class="calendar-grid__day">{{ day }}</div>
    }

    @for (progress of progressData; track $index) {
      <div 
        class="day-progress" 
        [ngClass]="getProgressClass(progress)">
      </div>
    }
  </div>

  <div class="legend">
    <span class="legend__text legend__text_left">Low</span>
    @for (level of progressLevels; track $index) {
      <span class="legend__block" [ngClass]="getProgressClass(level)">
      </span>
    }
    <span class="legend__text legend__text_right">Full</span>
  </div>
</div>
